
/* Background Video */
video#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* Ensures it stays behind other elements :D */
}
#text-under {
    position: absolute;
    left: 0px;
}
#text-under {
    display: block;
    border: 0px solid #000000;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.604), rgba(5, 2, 2, 0.079));
    width: 400px;
    height: 100vh;
    padding: 10px;
    color: rgb(255, 255, 255);
    line-height: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: 0px;
}
a {
font-size: xx-large;
color: white;
text-decoration: underline color(srgb rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0));
}
